/*pc 样式表*/
.PersonalCenter_content{
    .PersonalCenter_bg_img{
        width: 100vw;
        height: 100vh;
        background-image: url("http://www.liuyuchuan.cn/image/bg_img.jpg");
        background-size: 100% 100%;
        background-repeat: no-repeat ;
    }
    .PersonalCenter_soll{
        width: 100vw;
        height: 200vh;
    }
}