/*pc 样式表*/
@import '@/assets/scss/variable.scss';

.home-head{
    width: 100%;
    background: $bg_color;
    box-shadow: 0px 3px 10px rgba(0,0,0,.04);
    height: 56px;
    .home-head-container{
        width: 1200px;
        margin: 0 auto;
        line-height: 56px;
        // display: flex;
        // justify-content: space-between;
        .home-head-title{
            width: 200px;
            float: left;
            .h2{
                font-size: 22px;
                font-weight: normal;
                color: $fontColor;
                cursor: pointer;
            }
        }
        .home-head-nav{
            float: left;
            ul{
                display: flex;
                color: $fontColor;
                font-size: 16px;
                li{
                    text-align: center;
                    cursor:pointer;
                    width: 100px;
                }
                .router-link-active{
                    color: $active_router_color;
                }
            }
        }
        .header_login_box{
            float: right;
            font-size: 16px;
            cursor:pointer;
            // width: 100px;
        }
        .header_login_box:hover{
            color: $active_router_color;
        }
    }
}
